.form-create-tour {
	background: var(--white);

	display: flex;
	flex-direction: column;
}

.form__inner-row {
	display: flex;
}

@media (hover: hover) {
	form {
		label {
			select,
			input,
			textarea {
				transition: background 0.3s ease;
			}
		}
	}
	form {
		label {
			select:hover,
			input:hover,
			textarea:hover {
				background: var(--beige-200);
			}
			select:hover {
				background-image: url(../icons/ic-dropdown.svg);
				background-size: 1.5em;
				background-repeat: no-repeat;
				background-position: calc(100% - 0.9em);
			}
		}
	}

	.radio-age,
	.custom-checkbox {
		cursor: pointer;
	}
}

@media (min-width: 360px) {
	.form-create-tour {
		border-radius: 30px;
		padding: 20px 20px 40px 20px;
		gap: 30px;
		margin-top: 40px;
	}
	.form__inner-row {
		flex-direction: column;
		gap: 30px;

		label {
			display: flex;
			flex-direction: column;
			gap: 8px;

			input,
			select,
			textarea {
				cursor: pointer;
				padding: 10px;
				border: 1px solid var(--beige-200);
				background: var(--beige-100);
				border-radius: 10px;
				outline: none;
				width: 100%;
			}
			input[type='date'] {
				text-transform: uppercase;
				color: var(--gray-300);
			}

			span {
				height: 23px;
			}

			input {
				height: 43px;
			}

			textarea {
				max-width: 100%;
				min-width: 100%;
				min-height: 132px;
			}

			select {
				appearance: none;
				background-image: url('../icons/ic-dropdown.svg');
				background-repeat: no-repeat;
				background-size: 1.5em;
				background-position: calc(100% - 0.9em);

				height: 46px;
			}

			input[type='radio'] {
				display: none;
			}

			.custom-age-radio {
				position: relative;
				height: 20px;
				width: 20px;
				background-color: var(--white);
				border: 2px solid var(--black);
				border-radius: 50%;
			}

			.custom-age-radio::after {
				content: '';
				position: absolute;
				display: none;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 10px;
				width: 10px;
				background-color: black;
				border-radius: 50%;
			}

			input[type='radio']:checked + .custom-age-radio::after {
				display: block;
			}
		}

		.inner-row__radio-row {
			display: flex;
			flex-direction: row;
			gap: 30px;
		}

		.radio-age {
			display: flex;
			flex-direction: row;
			gap: 10px;
		}

		.checkbox-container {
			display: flex;
			flex-direction: row;
			gap: 10px;

			height: fit-content;
		}

		.checkbox-container input[type='checkbox'] {
			display: none;
		}

		.custom-checkbox {
			position: absolute;
			width: 20px;
			height: 20px;
			border: 2px solid var(--black);
			border-radius: 4px;
		}

		.checkbox-container
			input[type='checkbox']:checked
			+ .custom-checkbox::after {
			content: '';
			width: 12px;
			height: 11px;
			background-image: url(../icons/rectangle.svg);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
		}

		.checkbox-container {
			p {
				color: var(--gray-300);
				margin-left: 30px;

				a {
					color: black;
				}
			}
		}
	}

	.form__inner-row__buttons {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}

	.form__inner-row__radio {
		gap: 9px;

		span,
		p {
			height: 23px;
		}
	}

	.form__inner-row__buttons {
		input {
			padding: 12px 30px 12px 30px;
			border-radius: 10px;
			border: none;

			height: 47px;

			cursor: pointer;
		}

		input[type='submit'] {
			background-color: var(--green-400);
			color: var(--white);
		}
		input[type='reset'] {
			background-color: var(--green-100);
			color: var(--green-400);
		}
	}
}

.radio-age input[type='radio']:checked {
	.custom-age-radio::after {
		display: block;
	}
}

@media (min-width: 768px) {
	.form-create-tour {
		border-radius: 50px;
		padding: 60px;
		margin-top: 100px;
		gap: 33px;
	}

	.form__inner-row {
		flex-direction: row;
		gap: 20px;

		label {
			width: 100%;

			span {
				height: 28px;
			}

			input,
			select {
				padding: 20px;
				height: 68px;
			}

			textarea {
				min-height: 152px;
			}
		}
		.checkbox-container {
			height: 26px;
			gap: 11px;

			p {
				margin-left: 36px;
			}
			.custom-checkbox {
				width: 26px;
				height: 26px;
			}
			.custom-checkbox::after {
				width: 13px;
				height: 11px;
			}
		}
	}
	.form__inner-row__radio {
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 13px;

		.inner-row__radio-row {
			gap: 31px;

			.radio-age {
				gap: 11px;

				.custom-age-radio {
					width: 26px;
					height: 26px;
				}
				.custom-age-radio::after {
					width: 12px;
					height: 12px;
				}
			}
		}
	}

	.form__inner-row__buttons {
		gap: 30px;
		input {
			padding: 15px 30px;
			height: fit-content;
			width: 235px;
		}
	}
}

@media (min-width: 1200px) {
	.form-create-tour {
		border-radius: 50px;
		padding: 70px;
		margin-top: 100px;
		gap: 33px;
	}

	.form__inner-row {
		flex-direction: row;
		gap: 30px;

		label {
			span {
				height: 28px;
			}

			input,
			select {
				padding: 20px;
				height: 68px;
			}
		}
		.checkbox-container {
			height: 26px;
			gap: 11px;

			p {
				margin-left: 44px;
			}
			.custom-checkbox {
				width: 26px;
				height: 26px;
			}
			.custom-checkbox::after {
				width: 13px;
				height: 11px;
			}
		}
	}
	.form__inner-row__radio {
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 15px;

		.inner-row__radio-row {
			gap: 31px;

			.radio-age {
				gap: 11px;

				.custom-age-radio {
					width: 26px;
					height: 26px;
				}
				.custom-age-radio::after {
					width: 12px;
					height: 12px;
				}
			}
		}
	}

	.form__inner-row__buttons {
		gap: 30px;
		input {
			padding: 15px 30px;
			height: fit-content;
			width: 235px;
		}
	}
}

.form__inner-row__buttons {
	input[type='submit'] {
		transition: background-color 0.3s ease;
	}
	input[type='reset'] {
		transition: background-color 0.3s ease;
	}
}

@media (hover: hover) {
	.form__inner-row__buttons {
		input[type='submit']:hover {
			background-color: var(--green-300);
		}
		input[type='submit']:active {
			background-color: var(--green-200);
		}

		input[type='reset']:hover {
			background-color: var(--gray-100);
		}
		input[type='reset']:active {
			background-color: var(--gray-200);
		}
	}

	.checkbox-container {
		p {
			letter-spacing: normal;
		}

		a {
			position: relative;
			overflow: hidden;

			&::after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 0;
				height: 2px;
				background-color: currentColor;
				transform: translateX(-50%);
				transition: width 0.3s ease;
			}
		}
	}
	.checkbox-container {
		a:hover::after {
			width: 100%;
		}
		p {
			a:active {
				color: var(--green-400);
			}
		}
	}
}
