.choose-tour__filter {
	position: relative;
	overflow: hidden;
}
.choose-tour__filter__focus {
	color: var(--orange-200);
}
.choose-tour__filter__focus::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: currentColor;
	transform: translateX(-50%);
}

@media (min-width: 767px) {
	.choose-tour__filter {
		padding-bottom: 6px;
	}
}

@media (hover: hover) {
	.choose-tour__filter {
		cursor: pointer;
	}

	.choose-tour__filter__unfocus::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 0;
		height: 2px;
		background-color: currentColor;
		transform: translateX(-50%);
		transition: all 0.3s ease;
	}

	.choose-tour__filter__unfocus:hover::after {
		width: 100%;
	}
}

.block-title-container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (min-width: 360px) {
		margin-top: 75px;
	}
	@media (min-width: 1024px) {
		margin-top: 135px;
	}

	@media (min-width: 1024px) {
		gap: 30px;
	}

	ul {
		display: flex;
		flex-direction: row;
		gap: 10px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		@media (min-width: 767px) {
			gap: 30px;
		}
	}
}

.block-title-cotnainer__choose-tour {
	@media (min-width: 360px) {
		gap: 30px;
	}
	@media (min-width: 1024px) {
		gap: 35px;
	}
}

.card-list {
	margin-top: 50px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 18px;

	@media (min-width: 1024px) {
		margin-top: 102px;
	}
	@media (min-width: 1920px) {
		gap: 30px;
	}

	.card-item {
		height: 318px;
		max-width: 318px;
		width: 100%;

		border-radius: 20px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: all 0.3s ease;

		@media (min-width: 1024px) {
			height: 531px;
			max-width: 450px;

			border-radius: 50px;
		}
		@media (min-width: 1200px) {
			max-width: 370px;
		}

		.card-item__up {
			display: flex;
			flex-direction: column;
			gap: 15px;

			z-index: 1;

			transition: all 0.3s ease;

			padding: 25px 25px 0 25px;

			@media (min-width: 1024px) {
				padding: 50px 50px 0 50px;
			}
			@media (min-width: 1920px) {
			}

			p {
				color: var(--white);
			}
		}

		.card-item__down {
			padding: 0 0 25px 25px;

			z-index: 1;

			transition: all 0.3s ease;

			@media (min-width: 1024px) {
				padding: 0 0 50px 50px;
			}
		}

		@media (hover: hover) {
			&:hover {
				.card-item__up {
					padding: 50px 30px 0 50px;
				}

				.card-item__down {
					padding: 0 0 43px 30px;
				}

				.more {
					padding: 7px 20px;

					border-radius: 50px;
					background-color: var(--green-400);
				}
			}

			.more:active {
				background-color: #efa501;
				border-radius: 50px;
				padding: 7px 20px;
			}
		}
	}
}

.card-item {
	position: relative;
	overflow: hidden;
}
.card-item__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s ease;
	z-index: 0;
	border-radius: inherit;
}

.card-item:hover {
	.card-item__background {
		transform: scale(1.2);
	}
}

.card-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0.06) 48.44%,
		rgba(0, 0, 0, 0.5) 100%
	);
	z-index: 1;
	border-radius: inherit;
	pointer-events: none;
}
