html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #f9f7f4;
}

.h-1 {
  /* H1 */
  font-family: Roboto;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%; /* 104.64px */
  letter-spacing: 1.92px;
}
.h-2 {
  /* H2 */
  font-family: Roboto;
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%; /* 73.16px */
}
.h-3 {
  /* H3 */
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 122%; /* 42.7px */
}
.p-big {
  /* p-big */
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 122%; /* 28.06px */
}
.p-normal {
  /* p-normal */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%; /* 28.4px */
}
.p-small {
  /* p-small */
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%; /* 24.14px */
  letter-spacing: -0.17px;
}
.mobile-h1 {
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 38.08px */
  letter-spacing: 0.68px;
}

.mobile-h2 {
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 38.08px */
  letter-spacing: 0.68px;
}

.mobile-h3 {
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  letter-spacing: 0.92px;
}

.mobile-p-big {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 142%; /* 22.72px */
}
.mobile-p-normal {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%; /* 22.72px */
}

.mobile-p-small {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%; /* 22.72px */
  letter-spacing: -0.16px;
}

@media (max-width: 360px) {
  .h-1 {
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%; /* 38.08px */
    letter-spacing: 0.68px;
  }
  .h-2 {
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 112%; /* 38.08px */
    letter-spacing: 0.68px;
  }

  .h-3 {
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 27.6px */
    letter-spacing: 0.92px;
  }

  .p-big {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 142%; /* 22.72px */
  }
  .p-normal {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%; /* 22.72px */
  }

  .p-small {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%; /* 22.72px */
    letter-spacing: -0.16px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 910px;
  }
  .title-discription {
    max-width: 442px;
  }
}
@media (max-width: 360px) {
  .container {
    max-width: 320px;
  }
  .title-discription {
    max-width: 310px;
  }
}

.header-main {
  background: transparent;
}

.header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.main {
}

.header__inner {
  padding-top: 29px;
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #fff;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

.menu__list-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
@media (hover: hover) {
  .menu__list-link:hover {
    background-size: 100% 2px;
  }
}

.menu__list {
  display: flex;
  gap: 50px;
}
@media (max-width: 360px) {
  .menu__list {
    display: none;
  }
}

.telephone {
  color: white;
}

@media (max-width: 360px) {
  .logo__image {
    width: 133px;
    height: 22px;
  }
}

.footer {
  background-color: #f4f0e9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;

  a {
    p {
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.3s;
    }
    @media (hover: hover) {
      p:hover {
        background-size: 100% 2px;
      }
      p:active {
        color: #efa501;
        p {
          color: #efa501;
        }
      }
    }
  }
}

.social-item__link {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.social-text {
  color: #a6a6a6;
}
.social-item__logo {
  padding-right: 10px;
}
.social-item__title {
  color: #1b1f2b;
}

.up__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  margin-top: 90px;
}
@media (max-width: 360px) {
  .up__container {
    gap: 40px;
  }
}

.block-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up__title {
  color: white;
  text-align: center;
}
.title-discription {
  text-align: center;

  width: 562px;

  margin: 0 auto;
}

.up {
  color: white;
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
    url(./img/header-img.jpg), lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 831px;

  display: flex;
  align-items: center;
}
@media (max-width: 360px) {
  .up {
    height: 400px + 88px;
  }
}

.up__btn {
  padding-bottom: 119px;
}

.up__link {
  color: #1b1f2b;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  transition: 300ms ease;
  @media (hover: hover) {
    &:hover {
      background: #efa501;
      color: white;
    }
    &:active {
      background-color: #f8e6be;
      color: #1b1f2b;
    }
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 30px;
}

.main-title__special {
  margin-top: 135px;
  padding-bottom: 35px;
  text-align: center;
  color: #1b1f2b;
}

.main-title {
  margin-top: 132px;
  padding-bottom: 30px;
  text-align: center;
  color: #1b1f2b;
}

@media (max-width: 360px) {
  .main-title,
  .main-title__special {
    margin-top: 75px;
  }
  .main-title__special {
    padding-bottom: 30px;
  }
  .main-title {
    padding-bottom: 20px;
  }
}

.choose-tour__section {
  padding-bottom: 106px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 360px) {
  .choose-tour__section {
    padding-bottom: 50px;
    gap: 10px;
    width: 318px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.section-link {
  color: #1b1f2b;
}
.section-link__focus {
  color: #efa501;
}

.section-link__focus {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
@media (hover: hover) {
  .section-link__focus:hover {
    background-size: 100% 2px;
  }
}

.section-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
@media (hover: hover) {
  .section-link:hover {
    background-size: 100% 2px;
  }
}

.card-item {
  width: 370px;
  height: 531px;

  border-radius: 50px;
  color: #fff;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 300ms ease;
}
@media (hover: hover) {
  .card-item:hover {
    background-size: 120%;
  }
}
.more {
  transition: 300ms ease;
}
@media (hover: hover) {
  .more:hover {
    background: var(--Green-400, #286562);
    border-radius: 50px;
    padding: 7px 20px;
  }
  .more:active {
    background-color: #efa501;
    border-radius: 50px;
    padding: 7px 20px;
  }
}

.card-item__up {
  /* padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px; */

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 12vw;
}
@media (max-width: 1024px) {
  .card-item__up {
    width: 350px;
  }
}
@media (max-width: 360px) {
  .card-item__up {
    width: 268px;
    gap: 13px;
  }
  .card-item {
    padding: 25px;
  }
}
.card-item__down {
  display: flex;
  flex-direction: row;
}

.more {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: 50px;
}

.card-item__one {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/assets/img/card-tour-photo-1.jpg);
  background-position: center center;
}

.card-item__two {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/assets/img/card-tour-photo-2.jpg);
  background-position: center center;
}
.card-item__three {
  margin-right: 0px;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/assets/img/card-tour-photo-3.jpg);
  background-position: center center;
}
.card-item__four {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/assets/img/card-tour-photo-4.jpg);
  background-position: center center;
}
.card-item__five {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/assets/img/card-tour-photo-5.jpg);
  background-position: center center;
}
.card-item__six {
  margin-right: 0px;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/assets/img/card-tour-photo-6.jpg);
  background-position: center center;
}
@media (max-width: 1024px) {
  .card-item {
    width: 450px;
    background-size: cover;
  }
  .card-item__up {
    width: 350px;
  }
}
@media (max-width: 360px) {
  .card-item {
    width: 318px;
    height: 318px;
  }
  .card-item__up {
    width: 268px;
  }
}

.secondary-title {
  color: #a6a6a6;
  text-align: center;
  width: 418px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-title__special {
  width: 408px;
}
@media (max-width: 360px) {
  .secondary-title {
    width: 318px;
  }
}

.form__inner {
  width: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 33px;

  border-radius: 50px;
  padding: 70px;
  margin-top: 100px;
}
@media (max-width: 360px) {
  .form__inner {
    margin-top: 40px;
    padding: 20px;
  }
}

.form__inner-list {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.form__inner-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.form__inner-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.inner-item__input {
  height: 68px;
  padding: 20px;

  border-radius: 10px;
  border: 1px solid #f4f0e9;
  background: #f9f7f4;

  @extend .p-normal;
  &:hover {
    cursor: pointer;
  }
}
.form__inner-item {
  select {
    @extend .inner-item__input;

    appearance: none;
    background-image: url("/assets/icons/ic-dropdown.svg");
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.9em);
  }
}

.inner-item__input-special {
  height: 16.5vh;

  border-radius: 10px;
  border: 1px solid #f4f0e9;
  background: #f9f7f4;
}

@media (max-width: 1024px) {
  .form__inner-line {
    gap: 20px;
  }
}

.radio-age {
  display: flex;
  align-items: center;
  gap: 31px;
}
.radio-age label {
  display: flex;
  flex-direction: row;
  gap: 11px;
}
.radio-age input {
  width: 26px;
  height: 26px;
}

.form__inner-license {
  display: flex;
  flex-direction: row;
  gap: 19px;
}
.form__inner-license input {
  width: 26px;
  height: 26px;
}
@media (max-width: 360px) {
  .form__inner-license {
    input {
      width: 20px;
      height: 20px;
      
    }
  }
  .radio-age {
    input {
      width: 20px;
      height: 20px;
      
    }
  }
}
.form__inner-license p {
  color: #a6a6a6;
}
.form__inner-license a {
  color: black;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  @media (hover: hover) {
    &:hover {
      background-size: 100% 2px;
    }
    &:active {
      color: #286562;
    }
  }
}

.form__inner-line__btns-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.inner-line__btn {
  width: 235px;
  height: 58px;
  border-radius: 10px;
  border: none;

  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.inner-line__btn-submit {
  color: white;
  background: var(--Green-400, #286562);
}
@media (hover: hover) {
  .inner-line__btn-submit:hover {
    background-color: #3b7e7b;
  }
  .inner-line__btn-submit:active {
    background-color: #627f7e;
  }
}

.inner-line__btn-reset {
  color: #286562;
  background: #e0f0e5;
}
@media (hover: hover) {
  .inner-line__btn-reset:hover {
    background-color: #f1f3f2;
  }
  .inner-line__btn-reset:active {
    background-color: #d9dfdb;
  }
}

.inner-line__btn-submit,
.inner-line__btn-reset {
  cursor: pointer;
}
@media (max-width: 360px) {
  .form__inner {
    margin-top: 40px;
    padding: 40px 20px;
  }
  .form__inner-line {
    flex-direction: column;
    gap: 30px;
  }
  .form__inner-list {
    gap: 30px;
  }
  .inner-item__input {
    padding: 10px;
    height: 43px;
  }
  .inner-item__input-special {
    height: 132px;
  }
  .inner-line__btn {
    height: 47px;
  }
  .form__inner-line__btns-list {
    gap: 15px;
  }
}
// Форма - конец
.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 30px;

  margin-top: 100px;
}

.reviews-item {
  background-color: #f4f0e9;
  border-radius: 50px;
  padding: 40px;
  height: 673px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.reviews-item__down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews-item__down-text {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    color: #a6a6a6;
  }
}

@media (max-width: 1024px) {
  .reviews-item {
    height: 841px;
  }
}
@media (max-width: 360px) {
  .reviews-list {
    margin-top: 50px;
    flex-direction: column;
  }
  .reviews-item {
    padding: 20px;
    border-radius: 10px;
    height: max-content;
  }
  .reviews-item__down {
    margin-top: 40px;
  }
  .reviews-item__down-text {
    justify-content: flex-end;
  }
}

// Отзывы - конец

.photo-travel-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-top: 100px;
  margin-left: 23px;
  margin-right: 20px;
}

.photo-travel-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;

  align-items: flex-start;
  align-self: stretch;
}
.photo-travel-item {
  height: 301px;
  width: 442px;

  border-radius: 50px;
}
.photo-travel-item__special {
  height: 301px;
  width: 347px;

  border-radius: 50px;
}

@media (max-width: 1024px) {
  .travel-photo-2,
  .travel-photo-7,
  .travel-photo-13 {
    display: none;
  }
  .photo-travel-item {
    width: 314px;
    height: 300px;
  }
  .photo-travel-item__special {
    width: 231px;
    height: 301px;
  }
}

@media (max-width: 360px) {
  .photo-travel-list {
    margin-top: 50px;
    gap: 18px;
  }

  .photo-travel-items {
    gap: 18px;
  }
  .photo-travel-items__special-line {
    gap: 10px;
  }
  .photo-travel-item {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
  .photo-travel-item__special {
    width: 99px;
    height: 110px;
    border-radius: 20px;
  }
  .travel-photo-3,
  .travel-photo-6,
  .travel-photo-12 {
    display: none;
  }
}
// Галерея фотографий

.story-travel-list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  margin-top: 100px;

  h3,
  p,
  li {
    color: #fff;
  }
}

.story-travel-item {
  display: flex;
  flex-direction: column;
  gap: 85px;
  padding: 60px;
  border-radius: 50px;
  transition: background-size 300ms ease;

  @media (hover: hover) {
    &:hover {
      background-size: 120%;
    }
  }
}

.story-travel-item1 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/assets/img/story-photo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.story-travel-item2 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/assets/img/story-photo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.story-travel-item3 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/assets/img/story-photo-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.story-travel-item__up {
  display: flex;
  flex-direction: column;
  gap: 37px;

  height: 394px - 60px;
  width: 554px;
}
.story-travel-item__up-descr {
  display: flex;
  flex-direction: column;
  gap: 27px;
  ul {
    @extend .p-normal;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 4px;
  }
}

.story-travel-item__down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
    li {
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 0.3s;
    }
    @media (hover: hover) {
      li:hover {
        background-size: 100% 2px;
      }
      li:active {
        color: #efa501;
        a {
          color: #efa501;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .story-travel-list {
    margin-top: 50px;
    gap: 20px;
  }
  .story-travel-item {
    padding: 30px;
    height: 455px;
    background-position: bottom;
  }
  .story-travel-item__up {
    width: 263px;
    gap: 20px;
  }
  .travel-item__head-title {
    width: 162px;
  }
  .story-travel-item__social-list {
    display: none;
  }
}
// История путешествий
.callback {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin-bottom: 135px;
  margin-top: 135px;
}

.callback-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.callback-text p {
  color: var(--Gray-300, #a6a6a6);
}

.callback-email {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  color: #1b1f2b;

  transition: 300ms ease;
}
@media (hover: hover) {
  .callback-email:hover {
    background-size: 100% 2px;
    cursor: pointer;
  }
  .callback-email:active {
    color: #286562;
  }
}

.callback-img {
  width: 370px;
  height: 370px;
  border-radius: 50px;
}

@media (max-width: 360px) {
  .callback {
    margin-top: 75px;
    flex-direction: column;
    img {
      width: 130px;
      height: 133px;
      border-radius: 20px;
    }
    .callback-text {
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
  .footer {
    padding: 21px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .social-list {
    gap: 15px;
  }
  .social-item__logo {
    padding-right: 5px;
  }
}



