html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
  }
  
  html,
  body {
    height: 100%;
    background: #f9f7f4;
  }
  
  .h-1 {
    /* H1 */
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 109%; /* 104.64px */
    letter-spacing: 1.92px;
  }
  .h-2 {
    /* H2 */
    font-family: Roboto;
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: 124%; /* 73.16px */
  }
  .h-3 {
    /* H3 */
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 122%; /* 42.7px */
  }
  .p-big {
    /* p-big */
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 122%; /* 28.06px */
  }
  .p-normal {
    /* p-normal */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%; /* 28.4px */
  }
  .p-small {
    /* p-small */
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%; /* 24.14px */
    letter-spacing: -0.17px;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .header-main {
    background: transparent;
  }
  
  .header {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .main {
    flex-grow: 1;
  }
  
  .header__inner {
    padding-top: 29px;
    padding-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fff;
  }
  
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
  
  .menu__list-link {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .menu__list-link:hover {
    background-size: 100% 2px;
  }
  
  .menu__list {
    display: flex;
    gap: 50px;
  }
  
  .telephone {
    color: white;
  }
  
  .footer {
    background-color: #f4f0e9;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-list {
    display: flex;
    flex-direction: row;
  }
  
  .social-item__link {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
  }
  .social-text {
    color: #a6a6a6;
  }
  .social-item__logo {
    padding-right: 10px;
  }
  .social-item__title {
    color: #1b1f2b;
  }
  
  .up__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  
    margin-top: 90px;
  }
  
  .up__title {
    color: white;
    text-align: center;
  }
  .title-discription {
    text-align: center;
  
    width: 562px;
  
    margin: 0 auto;
  }
  
  .up {
    color: white;
    text-align: center;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      url(/assets/img/header-img.jpg), lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 831px;
  
    display: flex;
    align-items: center;
  }
  
  .up__btn {
    padding-bottom: 119px;
  }
  
  .up__link {
    color: #1b1f2b;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
  }
  
  .card-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .card-list-inner {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  .main-title__special {
    margin-top: 135px;
    padding-bottom: 35px;
    text-align: center;
    color: #1b1f2b;
  }
  
  .main-title {
    margin-top: 135px;
    padding-bottom: 30px;
    text-align: center;
    color: #1b1f2b;
  }
  
  .choose-tour__section {
    padding-bottom: 106px;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  
  .section-link {
    color: #1b1f2b;
  }
  .section-link__focus {
    color: #efa501;
  }
  
  .section-link__focus {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .section-link__focus:hover {
    background-size: 100% 2px;
  }
  .section-link {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .section-link:hover {
    background-size: 100% 2px;
  }
  
  .card-item {
    width: 370px;
    height: 531px;
  
    border-radius: 50px;
    color: #fff;
    padding: 50px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    transition: 300ms ease;
  }
  .card-item:hover {
    background-size: 120%;
  }
  .more {
    transition: 300ms ease;
  }
  .card-item:hover .more {
    background: var(--Green-400, #286562);
    border-radius: 50px;
  }
  
  .card-item__up {
    /* padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px; */
  
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .card-item__down {
    display: flex;
    flex-direction: row;
  }
  
  .more {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 7px 20px;
    border-radius: 50px;
  }
  
  .card-item__one {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(/assets/img/card-tour-photo-1.jpg);
    background-position: center center;
  }
  
  .card-item__two {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(/assets/img/card-tour-photo-2.jpg);
    background-position: center center;
  }
  .card-item__three {
    margin-right: 0px;
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(/assets/img/card-tour-photo-3.jpg);
    background-position: center center;
  }
  .card-item__four {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(/assets/img/card-tour-photo-4.jpg);
    background-position: center center;
  }
  .card-item__five {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(/assets/img/card-tour-photo-5.jpg);
    background-position: center center;
  }
  .card-item__six {
    margin-right: 0px;
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(/assets/img/card-tour-photo-6.jpg);
    background-position: center center;
  }
  
  .secondary-title {
    color: #a6a6a6;
    text-align: center;
  }
  
  .form__inner {
    width: 100%;
    background-color: #fff;
  
    display: flex;
    flex-direction: column;
    gap: 33px;
  
    border-radius: 50px;
    padding: 70px;
    margin-top: 100px;
    margin-bottom: 135px;
  }
  
  .form__inner-list {
    display: flex;
    flex-direction: column;
    gap: 33px;
  }
  
  .form__inner-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  
  .form__inner-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  
  .inner-item__input {
    height: 7.3vh;
    padding: 20px;
  
    border-radius: 10px;
    border: 1px solid #f4f0e9;
    background: #f9f7f4;
  }
  
  .inner-item__input-special {
    height: 16.5vh;
  
    border-radius: 10px;
    border: 1px solid #f4f0e9;
    background: #f9f7f4;
  }
  
  .radio-age {
    display: flex;
    align-items: center;
    gap: 31px;
  }
  .radio-age label {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }
  .radio-age input {
    width: 26px;
    height: 26px;
  }
  
  .form__inner-license {
    display: flex;
    flex-direction: row;
    gap: 19px;
  }
  .form__inner-license input {
    width: 26px;
    height: 26px;
  }
  .form__inner-license p {
    color: #a6a6a6;
  }
  .form__inner-license strong {
    color: #1b1f2b;
  }
  
  .form__inner-line__btns-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .inner-line__btn {
    width: 12.3vw;
    height: 6.4vh;
    border-radius: 10px;
    border: none;
    
  
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .inner-line__btn-submit {
    color: white;
    background: var(--Green-400, #286562);
    
  }
  .inner-line__btn-reset {
    color: #286562;
    background: #E0F0E5;
    
  }
  
  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    margin-top: 100px;
  }

  .reviews-item {
    background-color: #F4F0E9;
    border-radius: 50px;
    padding: 40px;
    height: 73vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    
    
  }

  .reviews-item__down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .reviews-item__down-text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      color: #A6A6A6;
    }
  }
  
  .photo-travel-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .photo-travel-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  
    align-items: flex-start;
    align-self: stretch;
  }
  .photo-travel-item {
    height: 32vh;
    width: 22vw;
  
    border-radius: 50px;
  }
  .photo-travel-item__special {
    height: 32vh;
    width: 17vw;
  
    border-radius: 50px;
  }
  
  .story-travel-list {
    margin-top: 100px;
    margin-bottom: 135px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .story-travel-item {
    height: 567px;
    color: var(--White, #fff);
    border-radius: 50px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    background-size: 100%;
    transition: all 300ms ease;
  
    position: relative;
  
    overflow: hidden;
  
    z-index: 0;
  }
  .story-travel-item p {
    width: 554px;
  }
  
  .story-travel-item:hover .more {
    background: var(--Green-400, #286562);
  }
  
  .story-travel-card__top {
    display: flex;
    flex-direction: column;
    padding: 60px 0px 0px 60px;
    gap: 37px;
    align-items: flex-start;
  
    position: relative;
  }
  .story-travel-card__top ul {
    list-style: inside;
  }
  
  .story-travel-card__bottom {
    display: flex;
    padding: 0px 60px 60px 60px;
    justify-content: space-between;
    align-items: center;
  
    position: relative;
  }
  
  .story-travel-card__social {
    display: flex;
    flex-direction: row;
    gap: 35px;
    color: var(--White, #fff);
  }
  
  .story-travel-card__social-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }
  
  .story-travel-card__social-item {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 0.3s;
  }
  .story-travel-card__social-item:hover {
    background-size: 100% 2px;
  }
  
  .bg {
    max-width: 100%;
    height: auto;
  }
  
  .story-travel-item-bg {
    border-radius: 50px;
  
    position: absolute;
    max-width: 100%;
  
    z-index: 0;
    transition: 300ms ease;
  }
  .story-travel-item-bg:hover {
    transform: scale(1, 1.2);
  }
  .travel-item__two {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(/assets/img/story-photo-2.jpg);
    background-size: cover;
    background-position: center center;
  }
  .travel-item__three {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(/assets/img/story-photo-3.jpg);
    background-size: cover;
    background-position: center center;
  
    transition: 300ms ease;
  }
  .travel-item__three:hover {
    background-size: 120%;
  }
  
  .callback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 135px;
    gap: 30px;
  }
  
  .callback-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .callback-text p {
    color: var(--Gray-300, #a6a6a6);
  }
  
  .callback-email {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    color: var(--Black, #1b1f2b);
  }
  .callback-email:hover {
    background-size: 100% 2px;
  }
  
  .callback-img {
    width: 370px;
    height: 370px;
    border-radius: 50px;
  }
  