.form-create-tour {
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (hover: hover) {
  form label select,
  form label input,
  form label textarea {
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  form label select:hover,
  form label input:hover,
  form label textarea:hover {
    background: var(--beige-200);
  }
  form label select:hover {
    background-image: url(../icons/ic-dropdown.svg);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.9em);
  }
  .radio-age,
  .custom-checkbox {
    cursor: pointer;
  }
}
@media (min-width: 360px) {
  .form-create-tour {
    border-radius: 30px;
    padding: 20px 20px 40px 20px;
    gap: 30px;
    margin-top: 40px;
  }
  .form__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .form__inner-row label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .form__inner-row label input,
  .form__inner-row label select,
  .form__inner-row label textarea {
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--beige-200);
    background: var(--beige-100);
    border-radius: 10px;
    outline: none;
    width: 100%;
  }
  .form__inner-row label span {
    height: 23px;
  }
  .form__inner-row label input {
    height: 43px;
  }
  .form__inner-row label textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 132px;
  }
  .form__inner-row label select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("../icons/ic-dropdown.svg");
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: calc(100% - 0.9em);
    height: 46px;
  }
  .form__inner-row label input[type=radio] {
    display: none;
  }
  .form__inner-row label .custom-age-radio {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .form__inner-row label .custom-age-radio::after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
  }
  .form__inner-row label input[type=radio]:checked + .custom-age-radio::after {
    display: block;
  }
  .form__inner-row .inner-row__radio-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
  .form__inner-row .radio-age {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  .form__inner-row .checkbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .form__inner-row .checkbox-container input[type=checkbox] {
    display: none;
  }
  .form__inner-row .custom-checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid var(--black);
    border-radius: 4px;
  }
  .form__inner-row .checkbox-container input[type=checkbox]:checked + .custom-checkbox::after {
    content: "";
    width: 12px;
    height: 11px;
    background-image: url(../icons/rectangle.svg);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
  }
  .form__inner-row .checkbox-container p {
    color: var(--gray-300);
    margin-left: 30px;
  }
  .form__inner-row .checkbox-container p a {
    color: black;
  }
  .form__inner-row__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  .form__inner-row__radio {
    gap: 9px;
  }
  .form__inner-row__radio span,
  .form__inner-row__radio p {
    height: 23px;
  }
  .form__inner-row__buttons input {
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    border: none;
    height: 47px;
    cursor: pointer;
  }
  .form__inner-row__buttons input[type=submit] {
    background-color: var(--green-400);
    color: var(--white);
  }
  .form__inner-row__buttons input[type=reset] {
    background-color: var(--green-100);
    color: var(--green-400);
  }
}
.radio-age input[type=radio]:checked .custom-age-radio::after {
  display: block;
}

@media (min-width: 767px) {
  .form-create-tour {
    border-radius: 50px;
    padding: 60px;
    margin-top: 100px;
    gap: 33px;
  }
  .form__inner-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .form__inner-row label {
    width: 100%;
  }
  .form__inner-row label span {
    height: 28px;
  }
  .form__inner-row label input,
  .form__inner-row label select {
    padding: 20px;
    height: 68px;
  }
  .form__inner-row label textarea {
    min-height: 152px;
  }
  .form__inner-row .checkbox-container {
    height: 26px;
    gap: 11px;
  }
  .form__inner-row .checkbox-container p {
    margin-left: 36px;
  }
  .form__inner-row .checkbox-container .custom-checkbox {
    width: 26px;
    height: 26px;
  }
  .form__inner-row .checkbox-container .custom-checkbox::after {
    width: 13px;
    height: 11px;
  }
  .form__inner-row__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 13px;
  }
  .form__inner-row__radio .inner-row__radio-row {
    gap: 31px;
  }
  .form__inner-row__radio .inner-row__radio-row .radio-age {
    gap: 11px;
  }
  .form__inner-row__radio .inner-row__radio-row .radio-age .custom-age-radio {
    width: 26px;
    height: 26px;
  }
  .form__inner-row__radio .inner-row__radio-row .radio-age .custom-age-radio::after {
    width: 12px;
    height: 12px;
  }
  .form__inner-row__buttons {
    gap: 30px;
  }
  .form__inner-row__buttons input {
    padding: 15px 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 235px;
  }
}
@media (min-width: 1200px) {
  .form-create-tour {
    border-radius: 50px;
    padding: 70px;
    margin-top: 100px;
    gap: 33px;
  }
  .form__inner-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
  .form__inner-row label span {
    height: 28px;
  }
  .form__inner-row label input,
  .form__inner-row label select {
    padding: 20px;
    height: 68px;
  }
  .form__inner-row .checkbox-container {
    height: 26px;
    gap: 11px;
  }
  .form__inner-row .checkbox-container p {
    margin-left: 44px;
  }
  .form__inner-row .checkbox-container .custom-checkbox {
    width: 26px;
    height: 26px;
  }
  .form__inner-row .checkbox-container .custom-checkbox::after {
    width: 13px;
    height: 11px;
  }
  .form__inner-row__radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 15px;
  }
  .form__inner-row__radio .inner-row__radio-row {
    gap: 31px;
  }
  .form__inner-row__radio .inner-row__radio-row .radio-age {
    gap: 11px;
  }
  .form__inner-row__radio .inner-row__radio-row .radio-age .custom-age-radio {
    width: 26px;
    height: 26px;
  }
  .form__inner-row__radio .inner-row__radio-row .radio-age .custom-age-radio::after {
    width: 12px;
    height: 12px;
  }
  .form__inner-row__buttons {
    gap: 30px;
  }
  .form__inner-row__buttons input {
    padding: 15px 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 235px;
  }
}
.form__inner-row__buttons input[type=submit] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form__inner-row__buttons input[type=reset] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (hover: hover) {
  .form__inner-row__buttons input[type=submit]:hover {
    background-color: var(--green-300);
  }
  .form__inner-row__buttons input[type=submit]:active {
    background-color: var(--green-200);
  }
  .form__inner-row__buttons input[type=reset]:hover {
    background-color: var(--gray-100);
  }
  .form__inner-row__buttons input[type=reset]:active {
    background-color: var(--gray-200);
  }
  .checkbox-container p {
    letter-spacing: normal;
  }
  .checkbox-container a {
    position: relative;
    overflow: hidden;
  }
  .checkbox-container a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .checkbox-container a:hover::after {
    width: 100%;
  }
  .checkbox-container p a:active {
    color: var(--green-400);
  }
}