.callback {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 30px;
	margin-bottom: 135px;
	margin-top: 133px;
}

.callback-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;

	h3 {
		color: var(--black);
	}
}

.callback-text p {
	color: var(--Gray-300, #a6a6a6);
}

.callback-email {
	position: relative;
	overflow: hidden;
	color: var(--black);
}

.callback-email::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: currentColor;
	transform: translateX(-50%);
	transition: all 0.3s ease;
}

@media (hover: hover) {
	.callback-email:hover::after {
		width: 100%;
	}
	.callback-email:active {
		color: #286562;
	}
}
.callback-img {
	width: 370px;
	height: 370px;
	border-radius: 50px;
}

@media (max-width: 767px) {
	.callback {
		margin-top: 77px;
		margin-bottom: 75px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.callback img {
		width: 130px;
		height: 133px;
		border-radius: 20px;
	}
	.callback .callback-text h3 {
		text-align: center;
	}
	.callback .callback-text p {
		text-align: center;
	}
}
