.choose-tour__filter {
  position: relative;
  overflow: hidden;
}

.choose-tour__filter__focus {
  color: var(--orange-200);
}

.choose-tour__filter__focus::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .choose-tour__filter {
    padding-bottom: 6px;
  }
}
@media (hover: hover) {
  .choose-tour__filter {
    cursor: pointer;
  }
  .choose-tour__filter__unfocus::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }
  .choose-tour__filter__unfocus:hover::after {
    width: 100%;
  }
}
.block-title-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .block-title-container ul {
    gap: 30px;
  }
}

@media (min-width: 360px) {
  section.choose-tour .block-title-container__choose-tour {
    gap: 30px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  section.choose-tour .block-title-container__choose-tour {
    gap: 35px;
    margin-bottom: 102px;
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
}
@media (min-width: 1920px) {
  .card-list {
    gap: 30px;
  }
}
.card-list .card-item {
  height: 318px;
  width: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .card-list .card-item {
    height: 531px;
    max-width: 450px;
    border-radius: 50px;
  }
}
@media (min-width: 1200px) {
  .card-list .card-item {
    max-width: 370px;
  }
}
.card-list .card-item .card-item__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  z-index: 1;
  padding: 25px 25px 0 25px;
}
@media (min-width: 768px) {
  .card-list .card-item .card-item__up {
    padding: 50px 50px 0 50px;
  }
}
@media (max-width: 1024px) {
  .card-list .card-item .card-item__up h3 br {
    display: none;
  }
}
.card-list .card-item .card-item__up p {
  color: var(--white);
}
.card-list .card-item .card-item__down {
  padding: 0 0 25px 25px;
  z-index: 1;
  -webkit-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}
@media (min-width: 768px) {
  .card-list .card-item .card-item__down {
    padding: 0 0 43px 30px;
  }
}
@media (min-width: 768px) {
  .card-list .card-item .more {
    padding: 7px 20px;
    border-radius: 50px;
  }
}
@media (hover: hover) {
  .card-list .card-item:hover .card-item__up {
    padding: 50px 30px 0 50px;
  }
  .card-list .card-item:hover .card-item__down {
    padding: 0 0 43px 30px;
  }
  .card-list .card-item:hover .more {
    background-color: var(--green-400);
  }
  .card-list .card-item .more:active {
    background-color: #efa501;
    border-radius: 50px;
    padding: 7px 20px;
  }
}

.card-item {
  position: relative;
  overflow: hidden;
}

.card-item__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 0;
  border-radius: inherit;
}

@media (400px <= width <= 767px) {
  .card-item:first-child .card-item__background {
    -o-object-position: bottom;
       object-position: bottom;
  }
}
@media (hover: hover) {
  .card-item:hover .card-item__background {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.card-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
  border-radius: inherit;
  pointer-events: none;
}