.choose-tour__filter-focus {
  color: var(--orange-200);
  border-bottom: 2px solid var(--orange-200);
}

.block-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (min-width: 360px) {
  .block-title-container {
    margin-top: 75px;
  }
}
@media (min-width: 1024px) {
  .block-title-container {
    margin-top: 135px;
  }
}
@media (min-width: 1024px) {
  .block-title-container {
    gap: 30px;
  }
}
.block-title-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1024px) {
  .block-title-container ul {
    gap: 30px;
  }
}

@media (min-width: 360px) {
  .block-title-cotnainer__choose-tour {
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .block-title-cotnainer__choose-tour {
    gap: 35px;
  }
}

.card-list {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
}
@media (min-width: 1024px) {
  .card-list {
    margin-top: 102px;
  }
}
@media (min-width: 1920px) {
  .card-list {
    gap: 30px;
  }
}
.card-list .card-item {
  height: 318px;
  border-radius: 20px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .card-list .card-item {
    height: 531px;
    padding: 50px;
    border-radius: 50px;
  }
}
@media (max-width: 642px) {
  .card-list .card-item {
    width: 100%;
  }
}
@media (hover: hover) {
  .card-list .card-item:hover {
    background-size: 120%;
    padding-left: 30px;
    padding-bottom: 43px;
  }
  .card-list .card-item:hover .more {
    padding: 7px 20px;
    border-radius: 50px;
    background-color: var(--green-400);
  }
}
.card-list .card-item .card-item__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (min-width: 1024px) {
  .card-list .card-item .card-item__up {
    width: 350px;
  }
}
@media (min-width: 1920px) {
  .card-list .card-item .card-item__up {
    width: 270px;
  }
}
.card-list .card-item .card-item__up p {
  color: var(--white);
}
.card-list .card-item-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))), url(/assets/img/card-tour-photo-1.jpg);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url(/assets/img/card-tour-photo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 420px) and (max-width: 642px) {
  .card-list .card-item-1 {
    background-position: bottom;
  }
}
.card-list .card-item-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))), url(/assets/img/card-tour-photo-2.jpg);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url(/assets/img/card-tour-photo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 420px) and (max-width: 642px) {
  .card-list .card-item-2 {
    background-position: bottom;
  }
}
.card-list .card-item-3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))), url(/assets/img/card-tour-photo-3.jpg);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url(/assets/img/card-tour-photo-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 420px) and (max-width: 642px) {
  .card-list .card-item-3 {
    background-position: bottom;
  }
}
.card-list .card-item-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))), url(/assets/img/card-tour-photo-4.jpg);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url(/assets/img/card-tour-photo-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 420px) and (max-width: 642px) {
  .card-list .card-item-4 {
    background-position: bottom;
  }
}
.card-list .card-item-5 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))), url(/assets/img/card-tour-photo-5.jpg);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url(/assets/img/card-tour-photo-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 420px) and (max-width: 642px) {
  .card-list .card-item-5 {
    background-position: bottom;
  }
}
.card-list .card-item-6 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5))), url(/assets/img/card-tour-photo-6.jpg);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url(/assets/img/card-tour-photo-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 420px) and (max-width: 642px) {
  .card-list .card-item-6 {
    background-position: bottom;
  }
}