.header-main {
	background: transparent;
}

.header {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.header-fix {
	position: fixed;
	backdrop-filter: blur(54px);
	background: rgba(243, 239, 232, 0.6);
	z-index: 10;

	.menu__list-link::after {
		background-color: var(--black);
	}
}
.header-fix a {
	color: black;
}

.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	color: #000;
}

@media (min-width: 360px) {
	.header__inner {
		padding-top: 33px;
		padding-bottom: 33px;
	}
}

@media (min-width: 768px) {
	.header__inner {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.menu__list-link {
	position: relative;
	overflow: hidden;
}

.menu__list-link::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: var(--white);
	transform: translateX(-50%);
	transition: width 0.3s ease;
}

@media (hover: hover) {
	a:hover::after {
		width: 100%;
	}
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
}

@media (min-width: 871px) {
	.menu__list {
		gap: 30px;
	}
}
@media (min-width: 1200px) {
	.menu__list {
		gap: 50px;
	}
}

@media (max-width: 870px) {
	.menu__list {
		display: none;
	}
}
.telephone {
	color: white;
}

@media (min-width: 360px) {
	.logo__image {
		width: 133px;
		height: 22px;
	}
	.telephone {
		display: flex;
	}
}

@media (min-width: 768px) {
	.logo__image {
		width: 182px;
		height: 30px;
	}
}
