.up__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 50px;

	h1 {
		text-align: center;
	}
}

@media (min-width: 360px) {
	.up__container {
		margin-top: 88px;
	}
}
@media (min-width: 768px) {
	.up__container {
		margin-top: 93px;
	}
}

@media (max-width: 767px) {
	.up__container {
		gap: 40px;
	}
}

.block-title-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.title-discription {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 360px) {
	.title-discription__drop2,
	.title-discription__drop3 {
		display: none;
	}
}
@media (min-width: 768px) {
	.title-discription__drop1 {
		display: none;
	}
	.title-discription__drop2 {
		display: block;
	}
}
@media (min-width: 1025px) {
	.title-discription__drop2 {
		display: none;
	}
	.title-discription__drop3 {
		display: block;
	}
}

.up {
	color: white;
	text-align: center;
	background: url('../img/header-img.jpg');

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (min-width: 360px) {
	.up {
		min-height: 488px;
	}
}
@media (min-width: 768px) {
	.up {
		min-height: 831px;
	}
}

.up__btn {
	padding-bottom: 119px;
}

.up__link {
	color: #1b1f2b;
	background-color: #fff;
	padding: 5px 20px;
	border-radius: 10px;
	-webkit-transition: background 0.3s ease, color 0.3s ease;
	transition: background 0.3s ease, color 0.3s ease;
}
@media (hover: hover) {
	.up__link:hover {
		background: #efa501;
		color: white;
	}
	.up__link:active {
		background-color: #f8e6be;
		color: #1b1f2b;
	}
}
