.reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 30px;
  margin-top: 98px;
}

@media (max-width: 1024px) {
  .reviews-list {
    gap: 18px;
  }
}
.reviews-item {
  background-color: #f4f0e9;
  border-radius: 50px;
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
@media (min-width: 360px) {
  .reviews-item .reviews-item__down {
    padding: 40px 0 0 0;
  }
}
@media (min-width: 1024px) {
  .reviews-item .reviews-item__down {
    padding: 70px 0 0 0;
  }
}

.reviews-item__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reviews-item__down-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}
.reviews-item__down-text h3 {
  color: var(--black);
}

.reviews-item__down-text p {
  color: #a6a6a6;
}

@media (max-width: 1023px) {
  .reviews-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .reviews-list {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .reviews-item {
    padding: 20px;
    border-radius: 10px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .reviews-item__up p {
    line-height: 23px;
  }
  .reviews-item__down-text {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}