.form-create-tour {
  background: var(--white);

  display: flex;
  flex-direction: column;
}

.form__inner-row {
  display: flex;
}

@media (min-width: 360px) {
  .form-create-tour {
    border-radius: 30px;
    padding: 20px 20px 40px 20px;
    gap: 30px;
    margin-top: 40px;
  }
  .form__inner-row {
    flex-direction: column;
    gap: 30px;

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input,
      select,
      textarea {
        cursor: pointer;
        padding: 10px;
        border: 1px solid var(--beige-200);
        background: var(--beige-100);
        border-radius: 10px;
      }

      span {
        height: 23px;
      }

      input {
        height: 43px;
      }

      textarea {
        height: 132px;
      }

      select {
        appearance: none;
        background-image: url("../icons/ic-dropdown.svg");
        background-repeat: no-repeat;
        background-size: 1.5em;
        background-position: calc(100% - 0.9em);

        height: 46px;
      }

      input[type="radio"] {
        display: none;
      }

      .custom-age-radio {
        position: relative;
        height: 20px;
        width: 20px;
        background-color: var(--white);
        border: 2px solid var(--black);
        border-radius: 50%;
        transition: all 0.3s ease;
      }

      .custom-age-radio::after {
        content: "";
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 10px;
        background-color: black;
        border-radius: 50%;
      }

      input[type="radio"]:checked + .custom-age-radio::after {
        display: block;
      }
    }

    .inner-row__radio-row {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }

    .radio-age {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    /* Чекбокс */
    .checkbox-container {
      display: flex;
      flex-direction: row;
      gap: 10px;

      height: 69px;
    }

    .checkbox-container input[type="checkbox"] {
      display: none;
    }

    .custom-checkbox {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 2px solid var(--black);
      border-radius: 4px;
    }

    .checkbox-container
      input[type="checkbox"]:checked
      + .custom-checkbox::after {
      content: "";
      width: 11px;
      height: 8px;
      background-image: url(../icons/Rectangle\ 36\ \(Stroke\).svg);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    .checkbox-container {
      p {
        color: var(--gray-300);
        margin-left: 30px;

        a {
          color: black;
        }
      }
    }
  }

  .form__inner-row__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .form__inner-row__radio {
    gap: 8px;

    span, p {
      height: 23px;
    }

  }

  .form__inner-row__buttons {
    input {
        padding: 12px 30px 12px 30px;
        border-radius: 10px;
        border: none;

        height: 47px;

        cursor: pointer;
    }

    input[type="submit"] {
        background-color: var(--green-400);
        color: var(--white);
    }
    input[type="reset"] {
        background-color: var(--green-100);
        color: var(--green-400);
    }
  }
}

.radio-age input[type="radio"]:checked {
  .custom-age-radio::after {
    display: block;
  }
}

@media (min-width: 1024px) {
  .form-create-tour {
    border-radius: 50px;
    padding: 60px;
  }

  .form__inner-row {
    flex-direction: row;

    label {
      width: 100%;
    }
  }
}
